@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.queue-status-container{
    background-color: #0d2f76;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ayospila-header{
    background-color: white;
    width: 1020px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.ayospila-header h1{
    font-size: 30px;
    color: #4d6ba5;
    font-weight: bold;
}
.ayos-text{
    color: #bcd8e9;
}
.pila-text{
    color: #093383;
}
.ayospila-header p{
    font-size: 20px;
    font-weight: bold;
    color: #99aacb;
}


.queue-options-container{
    width: 538px;
    height: 51px;
    background-color: white;
    border-radius: 10px;
    display: flex  ;
    padding: 2px;
}

.option-button{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: white;
    gap:5px;
    font-size: 16px;
}

.option-button:active{
    background-color: pink;
}

.currently-serving-card{
    width: 1320px;
    height: 180px;
    border-radius: 10px;
    background-color: #22537b;
    color: #64bd96;
    border: 1px solid #74E291;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-title{
    font-size: 18px;
    font-weight: 400;
}

.current-queue-number{
    font-size: 20px;
    font-weight: 600;
}

.current-service,
.current-category{
    font-size: 14px;
}

.serve-next-button{
    background-color: #74E291;
    color: white;
    width: 170px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.serve-next-button:hover{
    background-color: #64bd96;
}

.anti-starvation-alerts-card{
    width: 1320px;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: start;
}